<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"> 

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
<style>
		body{
			color: white;
			font-family: Arial;
			background: url(../images/background.jpg) repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		
	</style>
	
	
<script>
setTimeout(function () {
       window.location.href = "/"; //will redirect to your blog page (an ex: blog.html)
    }, 2000); //will call the function after 2 secs.
	
</script>
</head>
<body>

<h1 style="text-align:center;padding:calc(22%)">Success</h1>
</body>
</html>